#menu
  .menu-columns
    .menu-logo.hvr-float-shadow 
       img(src='/images/HM_Logo.png')
  .menu-columns
    .menu-links
       a.menu-link.hvr-float(href='/about') About
       a.menu-link.hvr-float(href='/blog') Blog  