$darkGrayFontColor: #1d1d1d;
$linkHoverColor: #B00404;
$font-gudea: Gudea, sans-serif;
$font-quicksand: Quicksand, sans-serif;
$logoUrl: '/images/HM_Logo.png';
$heroImageUrl: '/images/hero-image-2.jpg';
@import 'hover.css';

.hero-image {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url($heroImageUrl) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

@media screen and (max-width: 680px) {
  .menu {
    width: 600px;
  }
  .menu-columns {
    width: 50%; 
  }
}

.blog-wrapper {
  width: 100%;
  min-width: 200px;
  margin: auto;
  text-align: left;
}

.inner-wrapper {
  padding: 5px;
  display: table;
  margin: auto;
}

.menu-columns {
  width: 50%;
  vertical-align: middle;
  display: inline-block;
  margin: auto;
}

@media (min-width: 280px) {
  .menu {
    width: 200px;
  }
  .menu-columns {
    width: 50%; 
  }
  .blog-wrapper .inner-wrapper{
    width: 200px;
  }
}

@media (min-width: 375px) {
  .menu {
    width: 280px;
  }
  .menu-columns {
    width: 50%; 
  }
  .blog-wrapper .inner-wrapper{
    width: 280px;
  }
}

@media (min-width: 480px) {
  .menu {
    width: 400px;
  }
  .menu-columns {
    width: 50%; 
  }
  .blog-wrapper .inner-wrapper{
    width: 400px;
  }
}

@media (min-width: 640px) {
  .menu {
    width: 560px;
  }
  .menu-columns {
    width: 50%; 
  }
  .blog-wrapper .inner-wrapper{
    width: 560px;
  }
}

@media (min-width: 800px) {
  .menu {
    width: 720px;
  }
  .menu-columns {
    width: 50%; 
  }
  .blog-wrapper .inner-wrapper{
    width: 720px;
  }
}

@media (min-width: 1024px) {
  .menu {
    width: 744px;
  }
  .menu-columns {
    width: 50%;
  }
  .blog-wrapper .inner-wrapper{
    width: 744px;
  }
}

@media (min-width: 2048px) {
  .menu {
    width: 1968px;
  }
  .menu-columns {
    width: 50%; 
  }
  .blog-wrapper .inner-wrapper{
    width: 1968px;
  }
}

.align-right {
  text-align: right;
}

.menu-logo {
  min-width: 50px;
  min-height: 50px;
  display: block;
  max-height: 50px;
  max-width: 50px;
  height: auto;
  width: auto;
  float: left;
}

.menu-links {
  bottom: 50%;
  right: 0;
  text-align: right;
  display: inline;
  float: right;
}

#menu {
   min-height: 50px;
   height: 50px;
   margin: auto;
   margin: 10px 0 10px;
   padding-bottom: 20px;
   width: 100%;
   position: relative;

   a {
      font: 100% $font-gudea;
      color: $darkGrayFontColor;
      margin-right: 20px;

      &:hover {
      	color: $linkHoverColor;
      	text-decoration: none;
      	font-weight: 300;

      }
   }
}